:root {
    counter-reset: number 0;
}

sh-str {
    color: #c80;
}

sh-num {
    color: #84c;
}

sh-temp-str {
    color: #c66;
}

sh-bool {
    color: #6c6;
}

sh-line {
    counter-increment: ln;
}

sh-line:before {
    content: counter(ln);
    opacity: 0.75;
    border-right: solid 1px #fff;
    margin-right: 10px;
    text-align: right;
}